* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

h1 {
  color: rgb(26, 25, 25);
}

main {
  width: 100%;
  height: 100%;
  background-color: #efd6ac;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 20%;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 4px 5px darkgray;
  margin-top: 2rem;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.input-container label {
  margin-bottom: 0.5rem;
  color: rgb(26, 25, 25);
}

.login-btn {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #ec183f;
  color: whitesmoke;
  border: none;
  box-shadow: 3px 3px 5px darkgray;
  margin-top: 1rem;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #c21736;
}

.login-btn:active {
  box-shadow: none;
}

#status-container {
  height: 30px;
  margin: 1rem auto;
}

#error-container {
  width: 100%;
  display: flex;
}

small {
  color: #c21736;
  font-weight: 700;
  text-align: center;
}

.hidden {
  display: none !important;
}
